<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="title"><%= micropost.title %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "edit", edit_micropost_path(micropost) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>

  <span class="comments">
    <% if current_user?(micropost.user) %>
      <%= render 'comments/comment', micropost: micropost %>
    <% end %>
  </span>
  <span class="form_comments">
    <% if current_user?(micropost.user) %>
      <%= render 'shared/comment_form', micropost: micropost %>
    <% end %>
  </span>

</li>

